:root{
    --fundo:#0000FF;
    --cor-texto:#87CEFA;
    --cor-texto-preto:#000000;
    --frente-cartao:#6A5ACD;
    --verso-cartao:#836FFF;
}

body{
    background-color: var(--fundo);
}

.cartao__conteudo{
    background-color: var(--frente-cartao);
    text-align: center;
}

.cartao__conteudo h3{
    color: var(--cor-texto);
    border: 1px solid var(--cor-texto-preto);
}